/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*reveal*/
.sr .fooReveal { visibility: hidden; }



/*custom*/

/*slider*/
.car-bg-1 {
  background: url("../background1.jpg");
}
.car-bg-2 {
  background: url("../background2.jpg");
}
.car-bg-3 {
  background: url("../background3.jpg");
}


/*basis*/

/* height 100 300 400 600 */
.height-xs {
 height: 6.667em;
}
.height-s {
  height: 20em;
}
.height-m {
  height: 26.667em;
}
.height-xl {
  height: 40em;
}

/* position */

.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}
.mar-auto {
  margin: auto;
}

/* pic's */

.about-1 {
  background-image: url("../pics/about1.jpg");
}
.about-2 {
  background: url("../pics/about2.jpg");
}
.about-3 {
  background: url("../pics/about3.jpg");
}

.bg {
  background-size: cover;
}