

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

/*.button-collapse {*/
  /*color: #26a69a;*/
/*}*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*reveal*/
.sr .fooReveal { visibility: hidden; }

/* social icon's */

.icon-link {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.round,
.btn-large,
.carousel {
  border-radius: 50%;
}
.icon-link.round-corner,
.btn-large,
.carousel {
  border-radius: 5px;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}
.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background-color: #fff;
}
.icon-link.fill.social {
  background-color: #f44336;
}
.icon-link.fill.social:hover {
  background-color: #fff;
}
.icon-link:hover.social {
  border: 2px solid #f44336;
}
.icon-link:hover .fa-vk,
.icon-link:hover .fa-instagram,
.icon-link:hover .fa-twitter,
.icon-link:hover .fa-google-plus,
.icon-link:hover .fa-youtube {
  color: #f44336;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

/*basis*/

p {
  font-size: 1rem;
}

h5.bold {
  font-weight: 600;
}

/* height 100 300 400 600 */
.height-xs {
 height: 6.667em;
}
.height-s {
  height: 20em;
}
.height-m {
  height: 26.667em;
}
.height-xl {
  height: 40em;
}
.carousel {
  width: 100% !important;
  height: 100% !important;
}

/* position */

.flex {
  display: flex;
}
.vertical {
  flex-direction: column;
}
.mar-auto {
  margin: auto;
}

/* pic's */

.about-1 {
  background: url("../pics/about1.jpg");
}
.about-2 {
  background: url("../pics/about2.jpg");
}
.about-3 {
  background: url("../pics/about3.jpg");
}

.car-1 {
   background: url("../pics/about1.jpg");
}
/*.car-2 {*/
   /*background: url("");*/
/*}*/
/*.car-3 {*/
   /*background: url("");*/
/*}*/
/*.car-4 {*/
   /*background: url("");*/
/*}*/
/*.car-5 {*/
   /*background: url("");*/
/*}*/
/*.car-6 {*/
   /*background: url("");*/
/*}*/

.bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*@media only screen and (max-width: 320px) {*/
  /*h4, h5 {*/
    /*font-size: small;*/
  /*}*/
  /*p {*/
    /*font-size: x-small;*/
    /*line-height: 1.2rem;*/
  /*}*/
  /*.about-1,*/
  /*.about-2,*/
  /*.about-3 {*/
    /*height: 80% !important;*/
  /*}*/
/*}*/